<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/luf.png" type="image/x-icon">
    <style>
        body {
            background-image: url(../img/lufacomuna.jpg);
            background-size: cover;
            color: rgb(180, 178, 36);
        }
    </style>
    <title>lufa-lufa</title>
</head>

<body>
    <div class="transbox">
        <div class="grid-container">
            <div class="item1">
                <header>
                    <h1>lufa-lufa</h1>
                </header>
            </div>
            <div class="item2">
                <section>
                    <ul>
                        <li><button class="button button5"><a href="../../index.html">Página Principal</a></button></li>
                        <li><button class="button button2"><a href="./sonserina.html">Sonserina</a></button></li>
                        <li><button class="button button1"><a href="./grifinoria.html">Grifinória</a></button></li>
                        <li><button class="button button4"><a href="./corvinal.html">Corvinal</a></button></li>
                    </ul>
                </section>
            </div>
            <div class="item3">
                <main>
                    <p><i>“Ensinarei a todos e os tratarei como iguais”</i></p>
                    <p><strong>- Helga Hufflepuff</strong></p>
                    <p>
                        A Lufa-Lufa, fundada por Helga Hufflepuff, é uma das quatro casas da Escola de Magia e Bruxaria
                        de Hogwarts,
                        sendo conhecida como a mais inclusiva entre as outras três; valorizando o trabalho árduo, a
                        dedicação, a paciência,
                        a lealdade e o jogo limpo ao invés de uma aptidão particular de seus membros. Seu animal
                        emblemático é um texugo e
                        suas cores são o amarelo e o preto. A diretora da casa mais notável é a Mestra de Herbologia
                        Pomona Sprout e seu
                        fantasma patrono é o Frei Gorducho.
                    </p>
                    <p>
                        A casa corresponde aproximadamente ao elemento terra, e é por essa razão que suas cores foram
                        escolhidas: o amarelo
                        representa o trigo, enquanto o preto um símbolo do solo. Os estudantes classificados para a
                        Lufa-Lufa comumente
                        demonstram habilidades excepcionais em Herbologia, dado à correspondência da casa com a terra.
                    </p>
                    <p>
                        Os alunos pertencentes a casa são conhecidos por serem dedicados, amigáveis, leais, honestos e
                        bastante imparciais. Pode ser que, devido a seus valores, os Lufanos não sejam tão competitivos
                        quanto as outras casas, sendo até mesmo mais modestos com suas realizações.
                    </p>
                    <p>
                        Os membros da casa também são conhecidos por possuírem um forte código de moral e um senso de
                        certo e errado. Eles, geralmente, aceitam a todos, os valorizando e tratando-os como seus
                        iguais.
                    </p>
                    <p>
                        Como dito, a Lufa-Lufa parece ter uma menor rivalidade com as outras casas, exceto quando se
                        tratando de quadribol — embora no Torneio Tribruxo de 1994, a casa ficou temporariamente com uma
                        grande tensão em seu relacionamento com a Grifinória, dado as circunstâncias incomuns da seleção
                        do aluno Grifinório Harry Potter e o Lufano Cedrico Diggory como os campeões da escola.
                        Entretanto, isso foi restaurado em 1998, quando a maioria da Lufa-Lufa saiu em defesa de Harry e
                        se opôs a Pansy Parkinson, ajudando posteriormente a defender a escola durante a Batalha de
                        Hogwarts.
                    </p>
                    <p>De acordo com Minerva McGonagall, todas as quatro casas produziram inúmeros bruxos excepcionais
                        ao longo dos anos, mas devido à política de Helga Lufa-Lufa em aceitar qualquer estudante, a
                        Lufa-Lufa é frequentemente considerada a casa bruxa com menor talento. No entanto, este estigma
                        é apenas um mal-entendido no discurso anual do Chapéu Seletor. A casa também é conhecida por
                        produzir membros influentes, bem-sucedidos e excepcionalmente habilidosos do mundo mágico, como
                        o famoso magizoologista Newton Scamander, a notória aritimancer Bridget Wenlock e a ex-Ministra
                        da Magia Artemisia Lufkin.
                    </p>
                    <p>
                        A Lufa-Lufa também foi a casa que produziu o menor número de bruxos das trevas em toda a
                        história — sua atitude bondosa e amigável provavelmente pode ser a responsável pela conquista —.
                        A casa também demonstrou firmemente sua lealdade durante a Batalha de Hogwarts em 1998, quando a
                        maioria de seus membros saíram em defesa do aluno da Casa Grifinória Harry Potter em meio a sua
                        luta contra Lorde Voldemort.
                    </p>
                </main>
            </div>
            <div class="item4">
                <img src="../img/brasaoluf_hq.jpg" alt="Brasão da lufa-lufa">
            </div>
            <div class="item5">
                <div class="card">
                    <table>
                        <tr>
                            <th>Principais membros</th>
                            <th>Notas</th>
                        </tr>
                        <tr>
                            <td>Newton Scamander</td>
                            <td>Expulso de Hogwarts colocar em perigo a vida humana devido a um experimento com um
                                Furanzão
                                em 1913. Famoso magizoologista e autor de Animais Fantásticos e Onde Habitam. Conhecido
                                por
                                duelar e apreender o bruxo das trevas Gerardo Grindelwald.</td>
                        </tr>
                        <tr>
                            <td>Pomona Sprout</td>
                            <td>Posteriormente se tornou a diretora da Casa Lufa-Lufa e a professora de Herbologia em
                                Hogwarts.</td>
                        </tr>
                        <tr>
                            <td>Cedrico Diggory</td>
                            <td>Monitor, capitão e apanhador do time de quadribol da Lufa-Lufa e campeão Tribruxo; foi
                                assassinado em 1995 por Pedro Pettigrew sob ordens de Tom Riddle.</td>
                        </tr>
                        <tr>
                            <td>João souza</td>
                            <td>O criador deste site</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
</body>

</html>